* {
    margin: 0%;
    padding: 0%;
}

.container {   
    min-height: 100vh;
    background-color: rgb(218, 184, 155);
    border: 1vh solid black;
}

img {
    /* padding-top: 10rem;
    padding-left: 15rem; */
    position: relative;
    left: 15rem;
    top:8rem ;
    width: 20rem;
    border-radius: 50%;
}

.top_section {
    display: flex;
    justify-content: space-between;
}

.heading_1 {
    font-size: 2rem;
    padding-right: 20rem;
    padding-top: 24rem;
}

#h2 {
    padding-left: 21rem;
}

.heading_2 {
    font-size: 6rem;
    padding-left: 16rem;
    padding-top: 4rem;

}
.article_1 {
    padding-top: 2rem;
    padding-left: 16rem;
    padding-right: 16rem;
    font-size: 25px;
}

#h6 {
    font-size: 2rem;
}
.list {
    padding-top: 2rem;
    padding-left: 16rem;
    padding-right: 16rem;
}

#ul_1 {
    font-size: 20px;
    padding-left: 3rem;
}

#p_1 {
    padding-top: 5rem;
    font-size: medium;
    text-align: right;
    padding-right: 1rem;
}